@import url("https://fonts.cdnfonts.com/css/amazon-ember");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f6f6f7; */
}

.ant-tabs-tab-btn {
  font-size: 18px;
  font-weight: 500;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #529fac;
  font-weight: 700;
}

.gradbgAll {
  background: rgb(242, 248, 255);
  background: radial-gradient(
    circle,
    rgba(242, 248, 255, 1) 27%,
    rgba(255, 255, 255, 1) 71%
  );
}
