@import url("https://fonts.cdnfonts.com/css/amazon-ember");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Amazon Ember", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f6f6f7; */
}

.ant-tabs-tab-btn {
  font-size: 18px;
  font-weight: 500;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #529FAC;
  font-weight: 700;
}
